


    <h2>Editar empleado <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10006;</span>
        </button></span></h2>
  <div class="panel panel-default" style="padding:3%">

    <div class="panel-body" >
<%= render 'eform' %>
</div>
</div>
